<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>swipe demo</title>
    <link rel="stylesheet" href="../static/css/swipe.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/swiper_rep.js"></script>
    <script src="../static/js/sender.js"></script>
    <script src="../static/js/swipe.js"></script>
</head>

<body class="test_body" style="overflow: hidden;">
    <div id='lister'>
        <div id='jobs_slide' class="jobs_org">
            <div class="slide_box">
                <div class="header_Text">
                    <h1 style="text-align: left;">Название</h1>
                </div>
                <div class="types_info">
                    <h3 style="text-align: left;">СПОРТ</h3>
                    <div>
                        <h3 style="text-align: right;">20/06/2021</h3>
                    </div>
                </div>
            </div>
            <div id='box_info' class="slide_box_info"></div>
        </div>
    </div>
    <div class="menu">
        <div class="menu_button"></div>
        <div class="menu_button menu_button_main"></div>
        <div class="menu_button"></div>
    </div>

    <script>
        // document.getElementById('as').classList
    </script>
</body>

</html>